body {
    background-color: #FFC700;
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

img {
    width: 100%; 
    height: auto; 
}

.picture {
    display: flex;
    justify-content: space-around; 
    padding: 1%;
    gap: 20px; 
}



.image {
    flex: 1; 
    max-width: 50%; 
}

.text {
    flex: 1; 
    max-width: 50%;
    margin-top: 0px;
}

.picture h3, .picture button {
    margin: 10px 0;
}

.picture button {
    background-color: #FAFF00;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    font-size: x-large;
    width: 30%; 
    cursor: pointer;
}

@media (max-width: 768px) {
    .picture {
        flex-direction: column; 
    }
    .image, .text {
        max-width: 100%; 
    }
}
