.header {
    display: flex; 
    align-items: center; 
    flex-wrap: wrap; 
    justify-content: space-between;
    padding: 1%;
}
.header h1 {
    margin-left: 40px;
}
.header h1:hover{
    cursor: pointer;
}

.header button {
    background-color: #FFC700;
    border: 2px solid transparent; 
    cursor: pointer; 
    padding: 5px 10px;
    font-size: large;
}

.header button:hover {
    border-color: #333;
}

.uvlevel {
    display: flex; 
    gap: 10px;
}
