.container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .row-2 {
    display: flex;
    justify-content: center;
    width: 90%;
  }
  .plot {
    margin: 20px;
    text-align: center;
  }
  
  .plot img {
    width: 100%;
    max-width: 600px; 
    height: auto; 
  }

  .plot-heat img{
    width: 100%;
    max-width: 800px; 
    height: auto; 
    
  }

  .plot-heat{
    text-align: center;
    margin: 20px;
  }
  